html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

#app-container{
    display: flex;
    flex-direction: row;
}

#cards-container{
    display:flex;
    flex-direction: column;
    width:45%;
    row-gap:1em;
    margin:5% 0 0 10%;
}

#cv-container{
    display: flex;
    flex-direction: column;
    width: 55%;
    row-gap: 10px;
}

.flex-item{
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
}

span{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

i{
    padding-left: 15px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    row-gap: 10px;
}

label{
    font-size: 18px;
    font-weight: bold;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

input{
    border-radius: 10px;
    height: 5vh;
    outline: none;
    border-style: solid;
    background-color: #FAF9F6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px 0 0 10px;
}

button{
    position:sticky;
    left: 16em;
    width: 40px;
    height: 40px;
    background-color: white;
    border-style: none;
    font-size: 30px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}