html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

.app-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #FAF9F6;
}

#cards-container{
    overflow-y:scroll;
    display:flex;
    flex-direction: column;
    width:30%;
    row-gap:1em;
    padding:2% 0 0 3%;
    border-right-style: solid;
}

#cv-container{
    display: grid;
    grid-template-rows: repeat(3,150px);
    width: 70%;
    transform: scale(0.9);
    background-color: white;
}

.flex-item{
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
}

.flex-item:hover{
    box-shadow: 3px 3px 10px rgb(160, 160, 160);
}

span{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

i{
    padding-left: 15px;
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}