html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

#root{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#cards-container{
    overflow-y:scroll;
    display:flex;
    flex-direction: column;
    width:30%;
    row-gap:1em;
    padding:2% 0 0 3%;
    border-right-style: solid;
}

#cv-container{
    display: grid;
    grid-template-rows: repeat(3,150px);
    width: 70%;
}

.flex-item{
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}
.flex-item:hover{
    box-shadow: 3px 3px 10px rgb(160, 160, 160);
}
span{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}

i{
    padding-left: 15px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
    row-gap: 10px;
}

label{
    font-size: 18px;
    font-weight: bold;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

input{
    border-radius: 10px;
    height: 5vh;
    border-style: solid;
    background-color: rgb(248, 245, 245);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px 0 0 10px;
}

button{
    position:sticky;
    left: 11em;
    width: 30px;
    height: 30px;
    background-color: white;
    border-style: none;
    font-size: 30px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.3);
    cursor: pointer;
}