button{
    position:sticky;
    left: 11em;
    width: 30px;
    height: 30px;
    background-color: white;
    border-style: none;
    font-size: 30px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}