#personal-infos{
    width: 100%;
    height: 150px;
    background-color: #1d3557;
    border-bottom-style:solid;
    color:white;
    display: grid;
    grid-template-columns: (2,1fr);
    grid-template-rows: (2,1fr);
}
.container{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.user-full-name{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.user-contact{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#user-icon{
    transform: scale(2.5);
    padding-right: 15px;
}
.icon-contact{
    transform: scale(1.3);
}
.education-container{
    width: 100%;
    height: 100%;
}
.education-card{
    height: 100px;
    margin: 0 10% 0 10%;
    border-style: solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    align-items: center;
    justify-content: center;
}
.education-info{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.education-date{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.education-item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.job-container{
    width: 100%;
    height: 100%;
}
.job-card{
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    align-items: center;
    justify-content: center;
}
.job-info{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.job-date{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.job-item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

h4{
    margin-bottom:5px;
}